<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.GetString("Title")</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    
    @RenderSection("head", required: false)
</head>
    <body class="bg-gray-50">
        <header class="fixed top-0 left-0 w-full bg-gray-100 shadow py-2 md:py-4 z-50">
            <nav class="mx-auto max-w-3xl px-2 lg:px-0">
                <h1>
                    <a class="font-serif font-light text-xl text-blue-700 flex items-center" href="/">
                        <img src="/assets/avatar.svg" alt="Avatar image" class="h-12 w-12 mr-2"/>
                        @Constants.BlogTitle
                    </a>
                </h1>
            </nav>
        </header>

        <main class="mx-auto max-w-3xl px-2 lg:px-0 mt-20 md:mt-28 mb-4 md:mb-16 font-light">
            <h2 class="font-serif font-bold text-3xl lg:font-extrabold lg:text-5xl leading-snug mb-2 lg:mb-4">@Model.GetString("Title")</h2>
            @RenderBody()
        </main>
    </body>
</html>

