@{
    Layout = null;
}
@using AngleSharp.Html.Parser
@inherits StatiqRazorPage<Statiq.Common.IDocument>

<!DOCTYPE html>
<html lang=" en" class="no-js">
<head>
    <title>@Document.GetString("Title")</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @@media print{
            body {
            font-family: 'Roboto Slab', serif;
            }
            
            h1, h2, h3, h4, h5 {
                font-family: 'Raleway', sans-serif;
            }
            
            /* Box sizing rules */
            *,
            *::before,
            *::after {
              box-sizing: border-box;
            }
            
            /* Remove default margin */
            body,
            h1,
            h2,
            h3,
            h4,
            p,
            figure,
            blockquote,
            dl,
            dd {
              margin: 0;
            }
            
            /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
            ul[role='list'],
            ol[role='list'] {
              list-style: none;
            }
            
            /* Set core root defaults */
            html:focus-within {
              scroll-behavior: smooth;
            }
            
            /* Set core body defaults */
            body {
              min-height: 100vh;
              text-rendering: optimizeSpeed;
              line-height: 1.5;
            }
            
            /* A elements that don't have a class get default styles */
            a:not([class]) {
              text-decoration-skip-ink: auto;
            }
            
            /* Make images easier to work with */
            img,
            picture {
              max-width: 100%;
              display: block;
            }
            
            /* Inherit fonts for inputs and buttons */
            input,
            button,
            textarea,
            select {
              font: inherit;
            }
            
            
            h1 {
                font-size: 3rem;
                font-weight: 900;
                line-height: 3.1rem;
                string-set: title content(text);
                margin-bottom:  1rem;
            }
            
            h2, h3, h4, h5 {
              margin-top: 1.5rem;
              margin-bottom: .75rem;
            }
                       
            @@page:left{
               @@top-left {
                  content: counter(page);
               }
               
             @@top-center {
               content: string(title);
               font-size:.9rem;
             }  
            }
        
            @@page:right{
                @@top-right {
                  content: counter(page);
                }
                
                              
              @@top-center {
                content: 'Thirty25.com';
                font-size:.9rem;
              }  
            }
        
            @@page:blank {
                @@top-center {
                    content: none;
                }
            }
            
            @@page:first {
                @@top-center {
                    content: none;
                }
                            
                @@top-right {
                  content: none;
                }
                
               @@top-left {
                  content: none;
               }
            }
        
            @@page {
                size: letter;
                margin: 1in;
                bleed: 6mm;
            }
            
            .footnote {
              float: footnote;
            }
            
            @@page {
              @@footnote {
                float: bottom;
                font-size:.8rem;
              }
            }
            
            #title {
                break-after: right;       
                display:  flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                height:100%;
            }
            
            #title h1{
                font-size: 5rem;
            }
            
            #title h2{
                font-size: 2rem;
                font-weight: 200;
            }
            
            .chapter{
                break-before: right;
                height: 100%;
            }
            
            .chapter header {
                break-before: right;       
                display:  flex;
                flex-direction: column;
                justify-content: center;  
                height:100%;
            }
            
            .chapter header h1 {
                font-size: 4rem;
                font-weight: 800;
            }
            
            .chapter header .desc {
                font-size: 1.5rem;
                font-weight: 300;
            }
            
            .chapter pre {
                font-size: .7rem;
                line-height: .8rem;
                overflow-x: auto;
                white-space: pre-wrap;
                word-wrap: break-word;
                margin: 2rem 0;
                padding: .25rem 0 .25rem 1rem;
                border-left:  4px solid #666;
                page-break-inside:avoid;
            }
            
            .chapter p {
                margin-top:  1rem;
                margin-bottom:  1rem;
            }
            
            .chapter a{
                text-decoration: none;;
            }
                        
            .chapter table {
                width: 100%;
                table-layout: auto;
                text-align: left;
                margin-top: 2em;
                margin-bottom: 2em;
                font-size: 0.875em;
                line-height: 1.7142857;
                page-break-inside:avoid;
                border-collapse: collapse
            }
            
            .chapter table thead tr{
                border-bottom: 1px solid #666;
            }
            
            .chapter table tbody tr{
                border-bottom: 1px solid #ccc;
            }
            
            .chapter table tbody tr:last-child{
                border-bottom: none;
            }
            
            #toc {
                list-style-type: none;
                padding: 0;
                padding-inline-start: 2ch;
            }
            
            #toc li > a {
              text-decoration: none;
              display: grid;
              grid-template-columns: auto max-content;
              align-items: end;
            }
            
            #toc li a::after {
              content: target-counter(attr(href), page);
              text-align: right;
            }           
        }
        

    </style>
</head>
@{
    var allChildren = Document.GetChildren().ToArray();
}

<body>

<section id="title">
    <header>
        <h1>Phil Scott</h1>
        <h2>The Computer Files (Unexpurgated)</h2>    
    </header>
    
</section>

<h1>Table of Contents</h1>
<div>
    <ul id="toc">
    @foreach (var doc in allChildren)
     {
         <li>
             <a href="@("#id" + doc.Id)">@doc.GetString("Title")</a>
             
             @{
                 var headings = Document
                     .GetDocumentList(Keys.Headings)
                     ?.Where(x => x.GetInt(Keys.Level) == 1)
                     .ToList();
                 if (headings != default && headings.Count > 0)
                 {
                     <ul>
                         <li>Head</li>

                     </ul>
                 }

             }
         </li>
     }
    </ul>
</div>

@foreach (var doc in allChildren)
{
    {
        var path = doc.Source.GetRelativeInputPath().Parent;
        var parsedContent = await doc.ParseHtmlAsync();

        foreach (var image in parsedContent.Images)
        {
            var src = image.GetAttribute("src");
            if (src == default)
            {
                continue;
            }

            var imagePath = new NormalizedPath(src);
            if (imagePath.IsRelative)
            {
                var newPath = path.Combine(imagePath);
                image.SetAttribute("src", newPath.FullPath);
            }
        }

        foreach (var link in parsedContent.Links)
        {
            var href = link.GetAttribute("href");

            if (link.TextContent == href)
            {
                link.RemoveAttribute("href");
            }
            else
            {
                var parser = new HtmlParser();
                var document = parser.ParseFragment($"<span class=\"link\">{link.TextContent} <span class=\"footnote\">{href}</span></span>", link.ParentElement!);
                link.Replace(document.ToArray());
            }
        }

        var content = parsedContent.ToFormattedHtml();
        <section class="chapter">
            <header>
                <h1 id="@("id" + doc.Id)" class="title-element" data-title-level="h1">@doc.GetString("Title")</h1>
                <p class="desc">Originally published @doc.GetDateTime("date").ToLongDateString()</p>
            </header>
            @Html.Raw(content)
        </section>
    }
}
</body>
</html>